<h1>Quo</h1>

<h3>Examining altmetrics over time</h3>

<ul>
	{{#each articles}}
		<li>
			<input type="checkbox" name="doi" value="{{this.id}}">
			<h4><a href="{{doi}}">{{this.title_display}}</a></h4>
			<p>{{authors this.author_display}}</p>
			<p>{{this.journal}}</p>
			<p>Published on {{date_format this.publication_date}}</p>
		</li>
	{{/each}}
</ul>