<header>
	<div class="foo">
		<h1>Quo</h1>
		<h3>Examining altmetrics over time</h3>
	</div>

	<div class="article-counter panel panel-default text-center">
		<div class="panel-heading">
			<h5 class="panel-title">Articles</h5>
		</div>
		<div class="panel-body">
			<span class="badge">14</span>
		</div>
	</div>
</header>

<form action="generate" method="post" role="form" class="search-results">
	<ul id="result-list" class="list-unstyled">
		{{#each articles}}
			<li class="checkbox">
				<input type="checkbox" name="doi" value="{{this.id}}" id="article-{{this.id}}">	
				<h4><a href="http://dx.doi.org/{{id}}">{{this.title_display}}</a></h4>
				<label for="article-{{this.id}}">
					<p>{{authors this.author_display}}</p>
					<p>{{this.journal}}</p>
					<p>Published on {{date_format this.publication_date}}</p>
				</label>
			</li>
		{{/each}}
	</ul>

	<button type="submit" class="btn btn-primary">Generate</button>
</form>

<script type="text/javascript" src="js/util.js"></script>
<script type="text/javascript" src="js/results.js"></script>